services:
  app:
    build: .
    command: ./app
    container_name: delayed-notifier
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      # rabbitmq:
      #   condition: service_healthy
      migrator:
        condition: service_completed_successfully
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - Tz=Europe/Moscow
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    networks:
      - app-network

  migrator:
    image: kukymbr/goose-docker:3.24.2
    container_name: migrator
    command: up
    depends_on:
      db:
        condition: service_healthy
    environment:
      - GOOSE_DRIVER=${GOOSE_DRIVER}
      - GOOSE_DBSTRING=host=${DB_HOST} port=${DB_PORT} user=${DB_USER} password=${DB_PASSWORD} dbname=${DB_NAME}
      - GOOSE_MIGRATION_DIR=${GOOSE_MIGRATION_DIR}
    env_file:
      - .env
    volumes:
      - ./migrations:/migrations
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "goose", "status" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  db:
    image: postgres:18-alpine
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    env_file:
      - .env
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 40s

    volumes:
      - postgres_data:/var/lib/postgresql
      
    networks:
      - app-network

  # rabbitmq:
  #     image: rabbitmq:latest
  #     container_name: rabbitmq
  #     restart: always
  #     ports:
  #       - "5672:5672"
  #       - "15672:15672"
  #     healthcheck:
  #       test: [ "CMD", "rabbitmqctl", "status" ]
  #       interval: 10s
  #       timeout: 5s
  #       retries: 5
  #     environment:
  #       RABBITMQ_DEFAULT_USER: guest
  #       RABBITMQ_DEFAULT_PASS: guest
  #     volumes:
  #       - rabbitmq-lib:/var/lib/rabbitmq/
  #       - rabbitmq-log:/var/log/rabbitmq/
  #     networks:
  #       - app-network

  # redis:
  #   image: redis:latest
  #   container_name: redis
  #   restart: always
  #   ports:
  #     - "6380:6379"
  #   volumes:
  #     - redis:/var/lib/redis/data
  #   networks:
  #     - app-network

volumes:
  postgres_data:
  # redis:
  # rabbitmq-lib:
  # rabbitmq-log:

networks:
  app-network:
